

h1 {
    font-size: 40px;
    padding-right: 150px;
    color : #373A40;
    text-align: center;
}

h2 {
    font-size: 22px;
    padding-right: 135px;
    color: #373A40;
    text-align: center;
}

h3 {
    color: #373A40;
    font-size: 28px;
}

.first-div {
    height: 200px;
    background-color: #EEEDEB;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    display: inline-block;
    position: absolute;
    left: 300px;
    width:550px;
    height: 175px;
    padding-right: 590px;
    padding-top: 25px;
}

.image {
    display: inline-block;
    position: relative;
    width: 275px;
    height: 200px;
}

.second-div {
    height: 350px;
    margin-top: 100px;
}

.contact {
    display: inline-block;
    position: relative;
    width:480px;
    height:350px;
    font-size: 23px;
    padding-left: 50px;
}

.icon {
    width: 25px;
    height: 25px;
}

.contact > div {
    width: 475px;
    height: 52px;
    font-size: 22px;
}


.contact > p{
    padding: 3px;
}

.profile {
    display: inline-block;
    position: absolute;
    left: 600px;
    width:750px;
    height:350px;
    font-size: 23px;
    padding-right: 100px;
}

.third-div {
    height: 350px;
    margin-top: 30px;
}

.skills {
    display: inline-block;
    position: relative;
    width: 480px;
    height:350px;
    font-size: 23px;
    padding-left: 50px;
}

.skills  li {
    padding: 4px;
}

.extracurricular {
    display: inline-block;
    position: absolute;
    left: 600px;
    padding-right: 100px;
    width: 750px;
    height:350px;
    font-size: 23px;
}

.language {
    margin-top: 50px;
    padding-left: 50px;
    font-size: 23px;
    width: 480px;
    height: 200px;
    
}

.education {
    padding-left: 50px;
    font-size: 23px;
    width: 480px;
}

.vertical {
    border-left: 1px solid black;
    height: 1350px;
    position:absolute;
    left: 37%;
    top: 300px;
  }
  
  footer {
    font-size: 17px;
    text-align: center;
}

div {
    border: solid black;
}

