

.main-first-container {
    display: flex;
    gap: 5rem;
    width: 98%;
    flex-direction: row;
    margin-top: 50px;
    background-color: #EEEDEB;
    height: 35vh;
    min-height: 275px;
    border-radius: 20px;
}

.info {
    flex-basis: 100%;
    margin-top: 20px;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #373A40;
    align-self: center;
}

h1 {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

h2 {
   font-size: 25px;
   padding: 0;
   font-weight: bold;
}

.image {
    width: 300px;
    height: 275px;
    flex-basis: 100%;
    border-radius: 12%;
}

.main-second-container {
    display: inline-flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 50px;
    width: 100%;
    height: 100%;
}

h3 {
    color: #373A40;
    font-size: 28px;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.third-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 70%;   
}

.contact {
    flex: 1;
    padding-bottom: 20px;
    padding-left: 50px;
    border-bottom: solid gray;
    font-size: 25px;
}

.skills {
    flex: 1;
    padding-left: 50px;
    font-size: 25px;
    
}

.language {
    flex: 1;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 25px;
    border-bottom: solid gray;
}

.education {
    flex: 1;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 25px;
    border-bottom: solid gray;
    
}

.icon {
    width: 25px;
    height: 25px;
}

.contact > p{
    padding: 5px;
}


.fourth-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 90%;
}


.skills  li {
    padding: 4px;
}

.extracurricular {
    flex: 1;
    font-size: 25px;
}

.profile {
    flex: 1;
    font-size: 25px;
}

.profile > p {
    padding-bottom: 110px;
    border-bottom: solid gray;
    
}

  footer {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 675px) {
    .main-second-container {
      flex-direction: column;
      height: 100%;
    }
  }



