h1 {
    color : #373A40;
    text-align: center;
}

h2 {
    color: #373A40;
    text-align: center;
}

#contact-me {
    text-align: center;
}

footer {
    font-size: 14px;
    text-align: center;
    
}

h3 {
    color: #373A40;
    
}

.first-div {
    height: 175px;
    background-color: #EEEDEB;
    margin-left: 10px;
    margin-right: 10px;
}

.second-div {
    height: 200px;
    margin-top: 30px;
}

.third-div {
    height: 250px;
    margin-top: 30px;
}

.image {
    display: inline-block;
    width: 200px;
    height: 175px;
}

.info {
    display: inline-block;
    float: right;
    width:475px;
    height: 150px;
    padding-right: 590px;
    padding-top: 25px;
}



.contact {
    vertical-align: top;
    display: inline-block;
    width:335px;
    height:200px;
    font-size: 16px;
    padding-left: 48px;
}

.profile {
    display: inline-block;
    float: right;
    width:500px;
    height:200px;
    font-size: 16px;
    padding-right: 30px;
}

.skills {
    display: inline-block;
    width: 335px;
    height:250px;
    font-size: 16px;
    padding-left: 48px;
}

.extracurricular {
    display: inline-block;
    float: right;
    padding-right: 25px;
    width:505px;
    height:250px;
    font-size: 16px;
}

.language {
    margin-top: 50px;
    padding-left: 48px;
    font-size: 16px;
    width: 285px;
    
}

.education {
    padding-left: 48px;
    font-size: 16px;
    width: 285px;
}

div {
    border : slid black;
}

.vertical {
    border-left: 1px solid black;
    height: 950px;
    position:absolute;
    left: 37%;
    top: 22.5%;
  }

  .vertical2 {
    border-left: 1px solid black;
    height: 1px;
    position:absolute;
    left: 37%;
    top: 60%;
  }

